*{
  margin: 0;
  padding:0;
  background-color: hsl(30, 38%, 92%);
}
.preview{
  background-image: url("images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  margin: 100px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
.text{
  position: absolute;
  right: 120px;
  top: 50px;
  max-width: 400px;
  background-color: hsl(0, 0%, 100%);
}
.text h1{
  font-weight: 700;
  font-family: 'Fraunces';
  margin-bottom: 20px;
  font-size: 3rem;
  background-color: hsl(0, 0%, 100%);
}
.text p{
  font-size: 14px;
  font-family: 'Montserrat';
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
  line-height: 24px;
  background-color: hsl(0, 0%, 100%);
}
.numero{
  font-family: 'Fraunces';
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  background-color: hsl(0, 0%, 100%);
}

.numeros{
  display: flex; 
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 100%);
}
.numeros p{
 margin: 10px 0px 10px 10px;
 color: hsl(228, 12%, 48%);
 text-decoration: line-through;
 font-size: 14px;
}
.button{
  background-color: hsl(0, 0%, 100%);
}
.btn{
  background-color: hsl(158, 36%, 37%);
  padding: 20px 100px;
  outline: none;
  border: none;
  border-radius: 8px;
  color:hsl(0, 0%, 100%);
  cursor: pointer;
}
.p1{
  letter-spacing: 3px;
}
.text {
  position: absolute;
  right: 120px;
  top: 50px;
  max-width: 400px;
  background-color: hsl(0, 0%, 100%);
}
.text h1 {
  font-weight: 700;
  font-family: 'Fraunces';
  margin-bottom: 20px;
  font-size: 3rem;
  background-color: hsl(0, 0%, 100%);
}
.text p {
  font-size: 14px;
  font-family: 'Montserrat';
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
  line-height: 24px;
  background-color: hsl(0, 0%, 100%);
}
.numero {
  font-family: 'Fraunces';
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  background-color: hsl(0, 0%, 100%);
}

.numeros {
  display: flex;
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 100%);
}

.numeros p {
  margin: 10px 0px 10px 10px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-size: 14px;
}

.button {
  background-color: hsl(0, 0%, 100%);
}

.btn {
  background-color: hsl(158, 36%, 37%);
  padding: 20px 100px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.p1 {
  letter-spacing: 3px;
}
img{
  display: none;
}
@media screen and (max-width: 375px) {
  img{
    display:block;
    width: 50%
  }
}